<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <section class="form_container">
        <h2>Edit set for <%= log.name%></h2>
        <form action="/workouts/<%=log.workout_id%>/exercise/<%=log.exercise_id%>/log/<%=log.log_id%>?_method=PUT" method="post">
            <input type="hidden" name="junction_id" value = "<%=log.junction_id%>"/> 
            <!-- <input type="hidden" name="_method" value="PUT"/> -->
            <ul>
                <li>
                    <label for="">Sets</label>
                    <input type="number" min="1" name="sets" value="<%=log.sets%>">
                    <span>Update number of sets</span>
                </li>
                <li>
                    <label for="">Reps</label>
                    <input type="numbeer" min="1" name="reps" value="<%=log.reps%>"/>
                    <span>Update number of reps</span>
                </li>
                <li>
                    <label for="">weight</label>
                    <input type="number" min="0" step="0.25" name="weight" value="<%=log.weight%>"/>
                    <span>Update weight</span>
                </li>
                <li>
                    <button>edit</button>
                </li>
            </ul>
        </form>
    </section>
</body>


