<h2>Workout Details</h2>
<h3><%= workout.name %></h3>
<p><%= workout.workout_date %></p>
<a href="/workouts/<%=workout.workout_id%>/edit">edit name/date</a>
<form action="/workouts/<%=workout.workout_id%>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="hidden" name="workout_id" value = "<%=workout.workout_id%>"/> 
    <button>delete workout</button>
</form>

<div>
    <h4>exercises</h4>
    <% for (const exercise of exercises){%>
        <p><%=exercise.name%></p>
            <% for (const logdata of logdatas){ %>
                <% if (logdata.junction_id = exercise.junction_id) {%>
                    <ul>
                        <li>sets: <%= logdata.sets%></li>
                        <li>reps:<%= logdata.reps%> </li>
                        <li>weights: <%= logdata.weight%></li>
                    </ul>
                <% } %>
            <% } %>
        <p><a href="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>">add data</a></p>
        <p>edit data</p>
    <% } %>
</div>
<button> <a href="/workouts/<%=workout.workout_id%>/exercise/new">Add Exercises</a> </button>





<!-- to get exercise id we must define exercise id better -->