<head>
    <link rel="stylesheet" href="/css/workout_details.css" />
</head>
<body>
    <section class="workout_details">
        <h2>Workout Details</h2>
        <h3><%= workout.name %></h3>
        <p><%= workout.to_char %></p>
        <p>by <%=user.username%></p>

        <% if (Number(userIdLoggedIn) === workout.user_id) { %>
        <div class="btns-workout">
            <form action="/workouts/<%=workout.workout_id%>/edit">
                <button>edit workout</button>
            </form>
            <form
                action="/workouts/<%=workout.workout_id%>?_method=DELETE"
                method="post"
            >
                <button>delete workout</button>
            </form>
        </div>
        <% } %>
    </section>

    <div class="exercises">
        <h4>Exercises</h4>
        <% for (const exercise of exercises){%>
        <div class="exercise_log">
            <div class="exercise_details">
                <p class="exercise_name"><%=exercise.name%></p>
                <% if (Number(userIdLoggedIn) === workout.user_id) { %>
                <div class="btn-exercises">
                    <form
                        action="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>/edit"
                    >
                        <button>
                            <ion-icon name="create"></ion-icon>
                        </button>
                    </form>
                    <form
                        action="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>?_method=DELETE"
                        method="post"
                    >
                        <input
                            type="hidden"
                            name="junction_id"
                            value="<%=exercise.junction_id%>"
                        />
                        <button>
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </form>
                </div>
                <% } %>
            </div>

            <div class="log_details">
                <% for (const logdata of logdatas){ %> <% if
                (logdata.junction_id === exercise.junction_id) {%>
                <div class="log">
                    <ul class="sets_list">
                        <li><%= logdata.sets%> x <%= logdata.reps%></li>
                        <li><%= logdata.weight%> kg</li>
                    </ul>
                    <div class="btn-sets">
                        <% if (Number(userIdLoggedIn) === workout.user_id) { %>
                        <form
                            action="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>/log/<%=logdata.log_id%>/edit"
                        >
                            <button>
                                <ion-icon name="create-outline"></ion-icon>
                            </button>
                        </form>

                        <form
                            action="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>/log/<%=logdata.log_id%>?_method=DELETE"
                            method="post"
                        >
                            <button>
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %> <% } %> <% if (Number(userIdLoggedIn) ===
                workout.user_id) { %>
                <form
                    action="/workouts/<%=workout.workout_id%>/exercise/<%=exercise.exercise_id%>"
                >
                    <button class="btn_add_set">add set</button>
                </form>

                <% } %>
            </div>
        </div>

        <% } %> <% if (Number(userIdLoggedIn) === workout.user_id) { %>
        <form action="/workouts/<%=workout.workout_id%>/exercise/new">
            <button class="btn_add_exercise">add exercise</button>
        </form>
        <% } %>
    </div>
</body>

<!-- to get exercise id we must define exercise id better -->
